<template>
  <div class="number"><!--  number_0-->
    <div class="fe">
      <div class="line f"></div>
      <div class="line e"></div>
    </div>
    <div class="agd">
      <div class="line a"></div>
      <div class="line g"></div>
      <div class="line d"></div>
    </div>
    <div class="bc">
      <div class="line b"></div>
      <div class="line c"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "VNumber"
};
</script>

<style>
.line {
  background: lawngreen;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.f, .e, .b, .c {
  width: 5px;
  height: 23px;
}

.a, .g, .d {
  width: 23px;
  height: 5px;
}

.number {
  width: 33px;
  height: 61px;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.number:nth-child(2n) {
  position: relative;
  margin-right: 18px;
}

.number:nth-child(2n):before, .number:nth-child(2n):after {
  content: '';
  background: lawngreen;
  width: 4px;
  height: 4px;
  position: absolute;
  right: -11px;
}

.number:nth-child(2n):before {
  top: 15px;
}

.number:nth-child(2n):after {
  bottom: 15px;
}

.number:last-child {
  margin-right: 0;
}
.number:last-child:before,.number:last-child:after {
  content: none;
  background:transparent;
}

.agd, .fe, .bc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fe, .bc {
  margin: 5px 0;
}

.number_0 .g {
  background: transparent;
  box-shadow: none;
}

.number_1 .f, .number_1 .e, .number_1 .a, .number_1 .g, .number_1 .d {
  background: transparent;
  box-shadow: none;
}

.number_2 .f, .number_2 .c {
  background: transparent;
  box-shadow: none;
}

.number_3 .f, .number_3 .e {
  background: transparent;
  box-shadow: none;
}

.number_4 .a, .number_4 .e, .number_4 .d {
  background: transparent;
  box-shadow: none;
}

.number_5 .b, .number_5 .e {
  background: transparent;
  box-shadow: none;
}

.number_6 .b {
  background: transparent;
  box-shadow: none;
}

.number_7 .f, .number_7 .g, .number_7 .e, .number_7 .d {
  background: transparent;
  box-shadow: none;
}

.number_9 .e {
  background: transparent;
  box-shadow: none;
}
</style>
