<template>
  <div class="container">
    <v-number
      v-for="(val,key) in d_number"
      :key="key"
      :class="'number_'+val"
    ></v-number>
  </div>
</template>

<script>
import VNumber from "~/components/VNumber";
import moment from "moment";
export default {
  components: {
    VNumber
  },
  data() {
    return {
      d_number: {
        H: moment().format("HH:mm:ss")[0],
        h: moment().format("HH:mm:ss")[1],
        M: moment().format("HH:mm:ss")[3],
        m: moment().format("HH:mm:ss")[4],
        S: moment().format("HH:mm:ss")[6],
        s: moment().format("HH:mm:ss")[7],
      },
      d_timerId:null,
    };
  },
  created() {
    this.d_timerId=setInterval(this.reloadTime, 1000);
  },
  beforeDestroy() {
    clearInterval(this.d_timerId);
  },
  methods: {
    reloadTime() {
      this.d_number = {
        H: moment().format("HH:mm:ss")[0],
        h: moment().format("HH:mm:ss")[1],
        M: moment().format("HH:mm:ss")[3],
        m: moment().format("HH:mm:ss")[4],
        S: moment().format("HH:mm:ss")[6],
        s: moment().format("HH:mm:ss")[7],
      };
    }
  },
};
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>

